@import "custom";

// GLOBAL STYLE RULES

html {
    font-size: 18px;

}
body {
    font-family: "Lato", Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Nunito", Arial, sans-serif;
    font-weight: 900;
    text-align: left;
    line-height: 1.0 !important;
}
h2 {
    font-family: "Nunito", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}
.display-4 {
    font-size: 2.5rem;
}

h3 {
    font-family: "Inter", verdana, sans-serif;
    font-weight: 600;
}
h4 {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
}

p {
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 300;
    text-align: left;
    margin-top: 0;
}

.lead {
    font-family: "Lato", Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}




// HEADING NAV

.menu {
    background: $gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

a {
    text-decoration: none;
}

.btn-rounded {
    @include media-breakpoint-down(sm) {
        display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.2rem;
    font-weight: 600;
    border: 0.1rem solid rgba($white, 0.6);
    background-color: $white;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 1rem;
        border-radius: 50%;

        i {
            color: $white;
            font-size: 1rem;
        }
    }
    &:hover {
        background: $gradient;
        color: $white;

        span {
            background-color: rgba($black, 0.6);
        }
    }
}

// INTRO SECTION

.intro-section {
    padding-top: 8rem;
    background: $gradient;
    height: 100%;
    width: 100%;
}

.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.heading-line::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
    background-color: $primary;
}

// PORTFOLIO THUMBNAILS SECTION STYLES

.portfolio {
    padding: 4rem 0;

    button {
        text-transform: capitalize;
    }
}

.portfolio-box {

    img {
        width: 100%;
        height: 100%;
    }

}

// SHOP CARDS

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  }
  
  .price {
    color: $gray-700;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: $blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    background-color: $blue-light;
   }

  form.add-to-cart div,
  form.add-to-cart p {
      text-align: center;
  }
  
  form input.qty {
      width: 40px;
      border: 1px solid #eee;
      background: #f9f9f9;
      color: #000;
      border-radius: 3px;
      margin-left: 0.4em;
  }

// GALLERY
.gallery {
    margin-top: 60px;
    * {
        box-sizing: border-box;
    }
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
        }
      }
}


// CONTACT US

.contact-us {
    margin-top: 60px;
}

iframe {
    width: 80%;
    height: 120vh;
}

// ABOUT US

.about-us {
    margin-top: 60px;
    background: $gradient;
    height: 100%;
    width: 100%;
}

.colter {
    border-radius: 25px;
}

// FOOTER 

footer {
    background-color: lightgray;
  
    .list-group-item {
      background-color: lightgray;
  
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

// PRODUCTS
  .products-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .product {
    width: 300px;
    border: 1px solid ($blue-light, 0.4);
    border-radius: 10px;
    padding: 5px;
  }
  .product img {
    width: 100%;
  }
  /* products list */
  .products-list {
    width: 100vw;
    height: 100vh;
  
    padding-top: 100px;
  
    display: flex;
  }
  
//   /* PRODUCTS */
  .products {
    height: 100%;
    width: 100%;
  
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 4fr);
  }

  .products .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10px;
  }
  

  //SHOPPING CART

  #shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
    color: white;
    background-color: $blue;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
    background-color: $gray-300;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}
